@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2a4657;
}
.centriraj {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.47);
}
