@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2a4657;
}
.centriraj {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.47);
}
.portrait {
  height: 60vh;
}
.landscape {
  max-height: 500px;
  width: 7%;
}

@media (max-width: 500px) {
  .portrait {
    height: 50vh;
  }
  .landscape {
    max-height: 400px;
  }
}
@media (max-width: 400px) {
  .landscape {
    max-height: 300px;
  }
}
